# Store shell aliases here

### User's ~/bin aliases

### Other useful shell aliases

# dirs without -v is pretty lame
alias dirs='dirs -v'

# I only ever use df -h
alias df='df -h'

# some more ls aliases
alias ll='ls -alhF'
alias lh='ls -alhF'
alias la='ls -A'

# Update python packages, best used with pyenv
alias pip_upgrade='pip install -U pip && pip list --outdated | tail -n +3 | cut -d " " -f 1 | xargs pip install -U'

# Update R packages that are in the user's /home directory, excluding ones installed by sysadmin
# Best used with a .Renviron specifying a site-library
# Also recommended to use a .Rprofile specifying a CRAN mirror
# Because I usually have some Bioconductor packages installed, also upgrade those
alias R_upgrade='R -e "update.packages(oldPkgs = rownames(installed.packages()[startsWith(installed.packages()[, \"LibPath\"], \"/home\"), ]), ask = FALSE); BiocManager::install(ask = FALSE)"'

# Update .gitignore to exclude files too large for git
# Excludes renv and .ipynb_checkpoints which I should've already put in .gitignore, and I never send them to git anyway
# Deduplicates the lines in the .gitignore file based on: https://unix.stackexchange.com/a/504047
alias gitignore_big_files='find . -size +50M -not \( -path "./renv/*" \) -not \( -path "./.ipynb_checkpoints/*" \) >> .gitignore; cat -n .gitignore | sort -uk2 | sort -nk1 | cut -f2-'

# rsync files, but ignore ones that are above 50MB
# Typically used in a situation where you're copying to a git repo and don't want to include large files
# Target dir goes on the end here since shell aliases can't take arguments
alias rsync_ignore_big_files='rsync -avh --progress --max-size=50M ./* '